<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand header-name">FHC App Dashboard</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<div class="navbar-default">-->
      <ul class="nav navbar-nav" *ngIf="authService.isAuthenticated()">
          <li routerLinkActive="active">
              <a [routerLink]="['/quiz']">By Quiz</a>
            </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/users']">By Users</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li routerLinkActive="active"><a routerLink="/signin"><strong>Login</strong></a></li>
        </ng-template>

        <li><a style="cursor: pointer;" (click)="onLogout()" routerLink="/signin" *ngIf="authService.isAuthenticated()">Logout</a></li>
      </ul>

    </div>

  </div>
</nav>
